:root {
  --display-xs-medium-font-family: "Inter-Medium", Helvetica;
  --display-xs-medium-font-size: 24px;
  --display-xs-medium-font-style: normal;
  --display-xs-medium-font-weight: 500;
  --display-xs-medium-letter-spacing: 0px;
  --display-xs-medium-line-height: 32px;
  --gray-300: rgba(208, 213, 221, 1);
  --gray-700: rgba(52, 64, 84, 1);
  --gray-800: rgba(29, 41, 57, 1);
  --gray-900: rgba(16, 24, 40, 1);
  --light-controls: rgba(255, 255, 255, 1);
  --pink-25: rgba(254, 246, 251, 1);
  --pink-500: rgba(238, 70, 188, 1);
  --primary-500: rgba(158, 119, 237, 1);
  --shadow-lg: 0px 4px 6px -2px rgba(105, 65, 198, 0.03), 0px 12px 16px -4px rgba(105, 65, 198, 0.08);
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --success-400: rgba(50, 213, 131, 1);
  --success-500: rgba(18, 183, 106, 1);
  --text-sm-medium-font-family: "Inter-Medium", Helvetica;
  --text-sm-medium-font-size: 14px;
  --text-sm-medium-font-style: normal;
  --text-sm-medium-font-weight: 500;
  --text-sm-medium-letter-spacing: 0px;
  --text-sm-medium-line-height: 20px;
  --text-sm-regular-font-family: "Inter-Regular", Helvetica;
  --text-sm-regular-font-size: 14px;
  --text-sm-regular-font-style: normal;
  --text-sm-regular-font-weight: 400;
  --text-sm-regular-letter-spacing: 0px;
  --text-sm-regular-line-height: 20px;
  --text-sm-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-sm-semibold-font-size: 14px;
  --text-sm-semibold-font-style: normal;
  --text-sm-semibold-font-weight: 600;
  --text-sm-semibold-letter-spacing: 0px;
  --text-sm-semibold-line-height: 20px;
  --text-xs-medium-font-family: "Inter-Medium", Helvetica;
  --text-xs-medium-font-size: 12px;
  --text-xs-medium-font-style: normal;
  --text-xs-medium-font-weight: 500;
  --text-xs-medium-letter-spacing: 0px;
  --text-xs-medium-line-height: 18px;
  --text-xs-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-xs-semibold-font-size: 12px;
  --text-xs-semibold-font-style: normal;
  --text-xs-semibold-font-weight: 600;
  --text-xs-semibold-letter-spacing: 0px;
  --text-xs-semibold-line-height: 18px;
  --warning-500: rgba(247, 144, 9, 1);
  --white: rgba(255, 255, 255, 1);
  --widget-shadow: 0px 2.767256498336792px 2.2138051986694336px 0px rgba(108, 73, 172, 0.02),
    0px 6.650102138519287px 5.32008171081543px 0px rgba(108, 73, 172, 0.03),
    0px 12.521552085876465px 10.017241477966309px 0px rgba(108, 73, 172, 0.04),
    0px 22.3363094329834px 17.869047164916992px 0px rgba(108, 73, 172, 0.04),
    0px 41.777610778808594px 33.422088623046875px 0px rgba(108, 73, 172, 0.05),
    0px 100px 80px 0px rgba(108, 73, 172, 0.07);
}
